#blogs-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1120px;
    height: 4324px;
    top: 156px;
    left: 160px;
    gap: 60px;
}

.search_icon{
    width: 16.23px;
    height: 16.23px;
    left: 1.67px;
    top: 1.67px;
}

.heading{
    width: 707px;
    height: 124px;
    gap: 40px;
}

#heading-h1{
    height: 40px;
    width: 707px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2%;
    color: #000000;
}

#heading-input{
    width: 548px;
    height: 44px;
    border-radius: 6px;
    border: 1px solid #D0D5DD;
    padding: 12px 20px;
    gap: 8px;
    color: #F7F8F9;
}

.skills{
    height: 32px;
    width: 792px;
    gap: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2%;
    color: #191D23;
}

.skills1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
    padding: 8px 20px;
    gap: 8px;
    background-color: #F7F8F9;
}