.blog-card {
  .blog-card {
  width: 100%; /* Grid will manage how wide each card is */
  max-width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 0.063rem 0.125rem rgba(16, 24, 40, 0.05);
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: 'Poppins', sans-serif;
}

.image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 548 / 280; /* maintains same image proportion */
  overflow: hidden;
}

.blog-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.latest-badge {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #4f46e5;
  color: #fff;
  padding: 0.375rem 0.75rem;
  font-size: 0.75rem;
  font-weight: 500;
  border-radius: 0.375rem;
}

.blog-content {
  /* padding: 0 1rem 1rem; */
}

.blog-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 0 0.5rem 0;
  color: #101828;
}

.blog-description {
  font-size: 0.875rem;
  color: #667085;
  margin-bottom: 1rem;
}

.blog-footer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.author-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.author-info {
  display: flex;
  flex-direction: column;
  font-size: 0.813rem;
}

.author-name {
  font-weight: 500;
  color: #101828;
}

.date-time {
  font-size: 0.75rem;
  color: #667085;
}
