*{
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

.navbar {
    height: 96px;
    width: 1440px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 24px 64px;
    justify-content: space-between;
    border-bottom: 1px solid #E7EAEE;
    gap: 8px;
}


#i2{
    display: flex;
    justify-content: space-between;
}

#i2 > li{
    list-style: none;
    margin-right: 2rem;
}

.sides{
    display: flex;
    align-items: center;
    gap: 11px;
}

li,
.courses-text{
    font:'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #231F20;
}

.login{
    width: 89px;
    height: 48px;
    background: #E7EAEE;
    padding: 12px 20px;
    border-radius: 10px;
}

.signup{
    width: 163px;
    height: 48px;
    padding: 12px 20px;
    border-radius: 10px;
    background: linear-gradient(to right, #3940A0, #3CA3C1);
    color: white;
}

#i3{
    display: flex;
    gap: 8px;
}

#i1{
    display: flex;
    align-items: center;
}

.down-arrow{
    width: 20px;
    height: 20px;
}