.cards-section {
  margin-top: 40px;
  margin-bottom: 32px;
  padding: 0 5.5vw;
}

.latests {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.latests > * {
  flex: 1 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
  min-width: 300px;
}

/* Responsive design */
@media (max-width: 768px) {
  .latests {
    flex-direction: column;
  }

  .latests > * {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.items-section {
  padding: 32px 5.5vw;
}

.items-section h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 24px;
}
